# OS
.DS_Store
Thumbs.db
.env
.env.local
*.log

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
package-lock.json
yarn.lock

# Build
dist/
build/
.cache/

# Dependencies
lib/

# Misc
.git
.gitignore
DESKTOP.ini
.directory
